company-statistics-cache.el
elpa/*
auto-save-list/*
places
recentf
smex-items
url/*
eshell/*
.python-environments/*
transient/*
semanticdb/*
recentf~
server/*
bookmarks
lisp/*.*archive
lisp/#*.*#
lisp/GPATH
lisp/GRTAGS
lisp/GTAGS
lisp/custom.el
*.eld
*.cache
pyim/*
org/*.html
org/*.pdf
GPATH
GTAGS
GRTAGS