company-statistics-cache.el
custom.el
elpa/*
auto-save-list/*
places
recentf
smex-items
url/*
eshell/history
eshell/lastdir
eshell/autojump
.python-environments/*
transient/*
semanticdb/*
recentf~
server/*
bookmarks
lisp/*.*archive
lisp/#*.*#
lisp/GPATH
lisp/GRTAGS
lisp/GTAGS
lisp/custom.el
*.eld
*.cache
pyim/*
#pyim/dcache/*md5
#pyim/dcache/pyim-dhashcache-shortcode2word
#pyim/dcache/pyim-dhashcache-word2code
#pyim/dcache/pyim-dhashcache-code2word
org/*.html
GPATH
GTAGS
GRTAGS
TAGS
abbrev_defs
el-get
.youdao
org/.directory
straight/*
stale_outputs_checked
diary
.lsp-session*
irony/
irony/*
request/
